/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  --main-font-family: 'IBM Plex Mono', monospace;
  --accent-color: #FF0070;
  --main-bg-color: #00183f;
  --color-for-titles: #db00ff;
  --main-text-color: #f1b2ce;
  --color-corners: #ff0070;
  --link-color: #FF0070;
  --link-hover-color: #F1B2CE;
  --nav-hover-color: rgba(255, 0, 112, 0.40);
  --nav-color: #FF0070;
  --color-dropshadow: #FF0070;
  --main-heading-color: #ff0070;
  --section-heading-color: #000028;
  --section-subtitle-color: #353535;
  --dis-none: block;
  background-image: url(../images/cover-image-dark.png);
  --corners-top: 20px;
  --corners-left: 20px;
  --corners-right: 20px;
  --corners-bottom: 20px;
  background-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-family: 'IBM Plex Mono', monospace;
    --accent-color: #FF0070;
    --main-bg-color: #00183f;
    --color-for-titles: #db00ff;
    --main-text-color: #f1b2ce;
    --color-corners: #ff0070;
    --link-color: #FF0070;
    --link-hover-color: #F1B2CE;
    --color-dropshadow: #FF0070;
    --main-heading-color: #ff0070;
    --nav-hover-color: rgba(255, 0, 112, 0.40);
    --nav-color: #FF0070;
    --section-heading-color: #000028;
    --section-subtitle-color: #353535;
    --dis-none: block;
    --corners-top: 20px;
    --corners-left: 20px;
    --corners-right: 20px;
    --corners-bottom: 20px;
    }

  .page {
      --main-font-family: 'IBM Plex Mono', monospace;
      --accent-color: #FF0070;
      --main-bg-color: #00183f;
      --color-for-titles: #db00ff;
      --main-text-color: #f1b2ce;
      --color-corners: #ff0070;
      --link-color: #FF0070;
      --link-hover-color: #F1B2CE;
      --color-dropshadow: #FF0070;
      --main-heading-color: #ff0070;
      --nav-hover-color: rgba(255, 0, 112, 0.40);
      --nav-color: #FF0070;
      --section-heading-color: #000028;
      --section-subtitle-color: #353535;
      --dis-none: block;
      background-image: url(../images/cover-image-dark.png);
      background-color: #000028;
    }
  
    .header__theme-menu-button_active {
      outline: 1px solid var(--nav-color);
    }
  
    .header__theme-menu-button:hover {
      outline: 1px solid var(--nav-hover-color);
    }
  
    .link:hover {
      border-bottom: 1px solid var(--link-hover-color);
    }
    
    .link:focus-visible {
      outline: 1px solid var(--nav-color);
    }

    .header__theme-menu-button:focus-visible {
      border-bottom: 1px solid var(--nav-color);
    }
  }

  @media (width <= 768px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--color-dropshadow);
  }
}
