/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-font-family: 'IBM Plex Mono', monospace;
  --accent-color: #FF8DCB;
  --main-bg-color: #FFF1F7;
  --color-for-titles: #FFC2E6;
  --main-text-color: #353430;
  --color-corners: #353430;
  --link-color: #FF8DCB;
  --link-hover-color: #353430;
  --color-dropshadow: #FF0070;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --nav-hover-color: rgba(50, 49, 45, 0.40);
  --nav-color: #353430;
  background-image: url(../images/cover-image-light.png);
  --dis-none: none;
  --corners-top: 0;
  --corners-left: 0;
  --corners-right: 0;
  --corners-bottom: 0;
}
